
.bodyMatchaDesktop
{
    position: absolute;
    width: 80%;
    height: 100%;

    right: 0;
    left: 0;
    margin: auto;
}

.searchBarContainerMatchaDesktop
{
    position: absolute;
    height: 6%;
    width: 60%;
    min-width: 50vh;
    top: 4%;
    left: 0;
    right: 0;
    margin: auto;
}

.searchBarMatcha
{
    width: 100%;
    height: 100%;
    border-radius: 100vh;
    background-color: #a9a454;
}

.searchBarInputMatcha
{
    position: absolute;
    width: 85%;
    height: 100%;

    left: 5%;
    margin: auto;

    background-color: transparent;
    border: none;
    font-size: 2vh;
    color: #efe4d4;
}

.searchBarInputMatcha::placeholder
{
    color: rgba(239, 228, 212, .75);
}

.searchBarInputMatcha:focus
{
    outline: none;
}

.searchIconMatchaDesktop
{
    position: absolute;
    height: 50%;

    top: 0;
    bottom: 0;
    right: 5%;
    margin: auto;
}

.searchBarBtnMatcha
{
    opacity: 75%;
}

.searchBarBtnMatcha:hover
{
    opacity: 100%;
    cursor: pointer;
}

.profileContainerMatchaDesktop
{
    position: absolute;
    height: 75%;
    width: 48vh;

    top: 16%;
    right: 0;
    left: 0;
    margin: auto;
    color: #efe4d4;
}

.profilePictureMatcha
{
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4vh;
    box-shadow: 0px 0px 10px 1px rgba(21, 22, 24, .25);
}

.profileGradientMatcha
{
    position: absolute;
    width: 100%;
    height: 30%;

    bottom: 0;
    margin: auto;
    background-image: linear-gradient(transparent, rgba(21, 22, 24, .8));
    border-radius: 0vh 0vh 4vh 4vh;
}

.profileName
{
    position: absolute;
    top: 73%;
    left: 10%;

    font-size: 3.5vh;
}

.profileStatus
{
    position: absolute;
    width: 80%;
    top: 84%;
    left: 10%;

    font-size: 2vh;
}

.btnsMatchaDesktop
{
    position: absolute;
    height: 55%;
    width: 80%;
    top: 26%;
    right: 0;
    left: 0;
    margin: auto;
}

.passBtnMatchaDesktop
{
    position: absolute;
    height: 100%;
    width: 35%;
    min-width: 30vh;
    right: 65%;
    margin: auto;
    border: 0.6vh solid #556b2f;
    border-radius: 4vh;
    box-sizing: border-box;
    transition: .6s
}

.passBtnMatchaDesktop:hover
{
    background-color: #556b2f;
    cursor: pointer;
}

.passIconContainerMatcha
{
    position: absolute;
    height: 5vw;
    top: 0;
    bottom: 0;
    left: 6vw;
    margin: auto;
}

.likeBtnMatchaDesktop
{
    position: absolute;
    height: 100%;
    width: 35%;
    min-width: 30vh;
    left: 65%;
    margin: auto;
    border: 0.6vh solid #a9a454;
    border-radius: 4vh;
    box-sizing: border-box;
    transition: .6s
}

.likeBtnMatchaDesktop:hover
{
    background-color: #a9a454;
    cursor: pointer;
}

.likeIconContainerMatcha
{
    position: absolute;
    height: 5vw;
    top: 0;
    bottom: 0;
    right: 6vw;
    margin: auto;
}

.searchContainerMatchaDesktop
{
    position: absolute;
    height: 75%;
    width: 100%;

    top: 16%;
    right: 0;
    left: 0;
    margin: auto;

    
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
    gap: 3vh;
}

.searchProfileContainerMatcha
{
    position: relative;
    height: 28vh;
    width: 22vh;

    color: #efe4d4;
}


/* width */
  ::-webkit-scrollbar {
	width: 0.65vh;
	height: 0.65vh;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: rgba(176, 121, 70, .2);
	border-radius: 100px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #b07946;
	border-radius: 100px;
  }
